/Survey Mining/sample_io/
/Survey Mining/videos/
/Survey Mining/__pycache__/
/Survey Mining/contours/
/Survey Mining/.idea/
/Survey Mining/processed_videos/
/Survey Mining/alternative_data/ 
/Survey Mining/extra_exploratory_code/ 
/Survey Mining/google_collab_related/ 
/Survey Mining/notes/
/Survey Mining/og_code_and_dependent_files/
/Survey Mining/video_coding/
/Survey Mining/test_results/ 
/Survey Mining/table_of_contents.md 
/Survey Mining/todo.txt 